.container
  .navbar.navbar-default
    .container-fluid
      .navbar-header
        %img{src: "http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png", height: "30px"}
  .row
    .form-group
      %form{action: "/"}
        %input.form-control{type: "text", placeholder: "Search", name: 'q'}
  .row
    .col-lg-4
      %table.table.table-bordered
        %tr
          %th
            Query
          %th
            Count
        - @queries.each do |query|
          %tr
            %td
              = query[0]
            %td
              = query[1]
    .col-lg-8
      - if params[:q] && @result
        %h3
          = params[:q]
        %table.table.table-bordered
          %tr
            %th
            %th
              Name
            %th
              Description
            %th
              ABV
            %th
              IBU
          - @result.each do |beer|
            %tr
              %td
                %img{src: beer.icon}
              %td
                = beer.name
              %td
                = beer.description
              %td
                = beer.abv
              %td
                = beer.ibu
  %footer.footer
    .container
      %p.text-muted
        I do not distribute any information here.  All search results are anonymous.  I collect and display query history and query results.